body {font-family: roboto;
color: #212121;
}
.naglowki { font-size: 16px;}
.blue{color: rgba(33, 150, 243, 1);
}
.tlo {background-color: rgba(33, 150, 243, 1);
    ;}
    .logo {font-family: raleway;  }